<ion-content class="ion-padding">

  <topo-login title="Cadastro"></topo-login>

  <form [formGroup]="loginForm" (submit)="createUser()">
    <ion-item>
      <ion-icon name="person" slot="start" color="custom_color" ></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" slot="start" color="custom_color" ></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start" color="custom_color" ></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="custom_color" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="custom_color" slot="start"></ion-icon>
      <ion-input formControlName="confirm_pass" type="password" placeholder=" Confimação de Senha"></ion-input>
    </ion-item><br><br>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="custom_color">Enviar</ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" color="custom_color" fill="clear">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>