#logo-div {
    height: 40%;
    display: flex;
    align-items: center; //alinhamento vertical
    justify-content: center; //alinha na horizontal
    margin-bottom: 10%;

    h3,
    p {
        text-align: center;
    }

    img {
        width: 120px;
        height: auto;
        margin-top: 40%;
        margin-bottom: 10%;
        margin-left: 3%;
        margin-right: 5%;
    }


    background-color: white;
}