<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      Money tree
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item class="ion-padding-bottom">
    <ion-label>Mês</ion-label>
    <ion-datetime display-format="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item>

  <dash-card
    tipo = "pagar"
    valor = {{conta.pagar.valor}}
    num = {{conta.pagar.num}}>
  </dash-card>
  
  <dash-card
    tipo = "receber"
    valor = {{conta.receber.valor}}
    num = {{conta.receber.num}}>
  </dash-card>
  
  <dash-card
    tipo = "saldo"
    valor = {{conta.saldo.valor}}
    num = {{conta.saldo.num}}>
  </dash-card>


  <div id="btnMenu">
    <ion-button [routerLink]="['/contas/pagar']" color="success" expand="block">Contas a Pagar</ion-button>
    <ion-button [routerLink]="['/contas/receber']" color="success"  expand="block">Contas a Receber</ion-button>
  </div>
</ion-content>
