<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="success"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-paddin"><br>
  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name="person" slot="start" color="custom_color" ></ion-icon>
      <ion-input formControlName="parceiro" type="text" placeholder="Parceiro Comercial" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document" color="custom_color" slot="start"></ion-icon>
      <ion-input formControlName="descricao" type="text" placeholder="Descrição"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon name="wallet" color="custom_color" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item>

    <ion-item class="ion-padding-bottom">
      <ion-label>Vencimento</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="date"></ion-datetime>
    </ion-item>
    
    <ion-radio-group formControlName="tipo">
      <ion-list-header class="ion-padding-top">
        <ion-label>
          Tipo de conta
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot="start" value="pagar"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>A reber</ion-label>
        <ion-radio slot="start" value="receber"></ion-radio>
      </ion-item>

    </ion-radio-group><br><br>
    
    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="custom_color">Enviar</ion-button>

  </form>
</ion-content>
