<ion-content class="ion-padding">

  <topo-login title="Login"></topo-login>

  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-icon name="mail" slot="start" color="custom_color" ></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="custom_color" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item><br><br>
    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="custom_color">Enviar</ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']" color="custom_color" fill="clear">Cadastrar-se</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/auth/forgot']" color="custom_color" fill="clear" >Esqueceu sua senha?</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>