<ion-content class="ion-padding">
  <topo-login title="Esqueci minha senha"></topo-login>

    <form [formGroup]="loginForm" (submit)="recoverPass()">
    <ion-item>
      <ion-icon name="mail" slot="start" color="custom_color" ></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="custom_color">Enviar</ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" color="custom_color" fill="clear">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>